{
	"svelteSortOrder": "scripts-styles-markup",
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 9999,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}